absl-py==1.4.0
biopython==1.81
chex==0.1.89
dm-haiku==0.0.9
dm-tree==0.1.8
docker==5.0.0
immutabledict==2.0.0
jax==0.4.13
ml-collections==0.1.1
numpy==1.24.3
pandas==2.0.3
scipy==1.11.2
tensorflow-cpu==2.16.1
